{% extends 'basem.html' %}
{% set active_menu = "mnemotechniki" %}
{% set active_page = "cwiczenie5" %}
{% block content %}

<div class="row justify-content-center">
    <h3>Ćwiczenie 5</h3>
</div>
<div class="row justify-content-center">
    <h3>Dobierz parę</h3>
</div>

<form action="" method="post">
    <div class="row justify-content-center">

        <fieldset id="grupa1" class="mb-5">
            <div class="row">
                <img src="/static/images/train.svg" class="img-fluid" alt="pociąg" id="zdjecie3">
            </div>
            <label>
                <input type="radio" name="grupa1" value="bag" checked>
                <img src="/static/images/bag.svg" class="img-fluid" alt="torba" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa1" value="clock">
                <img src="/static/images/clock.svg" class="img-fluid" alt="zegar" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa1" value="elderly">
                <img src="/static/images/elderly.svg" class="img-fluid" alt="staruszek" id="zdjecie2">
            </label>


        </fieldset>
    </div>

    <div class="row justify-content-center">
        <fieldset id="grupa2" class="mb-2">
            <div class="row">
                <img src="/static/images/ladder.svg" class="img-fluid" alt="drabina" id="zdjecie3">
            </div>
            <label class="mb-5">
                <input type="radio" name="grupa2" value="cave" checked>
                <img src="/static/images/cave.svg" class="img-fluid" alt="jaskinia" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa2" value="microphone">
                <img src="/static/images/microphone.svg" class="img-fluid" alt="mikrofon" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa2" value="armchair">
                <img src="/static/images/armchair.svg" class="img-fluid" alt="fotel" id="zdjecie2">
            </label>
        </fieldset>
    </div>

    <div class="row justify-content-center">
        <fieldset id="grupa3" class="mb-2">
            <div class="row">
                <img src="/static/images/court.svg" class="img-fluid" alt="sąd" id="zdjecie3">
            </div>
            <label class="mb-5">
                <input type="radio" name="grupa3" value="baby" checked>
                <img src="/static/images/baby.svg" class="img-fluid" alt="dziecko" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa3" value="elderly">
                <img src="/static/images/elderly.svg" class="img-fluid" alt="staruszek" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa3" value="donut">
                <img src="/static/images/donut.svg" class="img-fluid" alt="donut" id="zdjecie2">
            </label>
        </fieldset>
    </div>
    
    <div class="row justify-content-center">
        <fieldset id="grupa4" class="mb-2">
            <div class="row">
                <img src="/static/images/cactus.svg" class="img-fluid" alt="kaktus" id="zdjecie3">
            </div>
            <label class="mb-5">
                <input type="radio" name="grupa4" value="hospital" checked>
                <img src="/static/images/hospital.svg" class="img-fluid" alt="szpital" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa4" value="train">
                <img src="/static/images/train.svg" class="img-fluid" alt="pociąg" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa4" value="butter">
                <img src="/static/images/butter.svg" class="img-fluid" alt="masło" id="zdjecie2">
            </label>
        </fieldset>
    </div>
    
    <div class="row justify-content-center">
        <fieldset id="grupa5" class="mb-2">
            <div class="row">
                <img src="/static/images/butter.svg" class="img-fluid" alt="masło" id="zdjecie3">
            </div>
            <label class="mb-5">
                <input type="radio" name="grupa5" value="cave" checked>
                <img src="/static/images/cave.svg" class="img-fluid" alt="jaskinia" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa5" value="kiosk">
                <img src="/static/images/kiosk.svg" class="img-fluid" alt="kiosk" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa5" value="chimney">
                <img src="/static/images/chimney.svg" class="img-fluid" alt="komin" id="zdjecie2">
            </label>
        </fieldset>
    </div>
    
    <div class="row justify-content-center">
        <fieldset id="grupa6" class="mb-2">
            <div class="row">
                <img src="/static/images/hamburger.svg" class="img-fluid" alt="hamburger" id="zdjecie3">
            </div>
            <label class="mb-5">
                <input type="radio" name="grupa6" value="violin" checked>
                <img src="/static/images/violin.svg" class="img-fluid" alt="violin" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa6" value="elderly">
                <img src="/static/images/elderly.svg" class="img-fluid" alt="staruszek" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa6" value="donut">
                <img src="/static/images/donut.svg" class="img-fluid" alt="donut" id="zdjecie2">
            </label>
        </fieldset>
    </div>
    
    <div class="row justify-content-center">
        <fieldset id="grupa7" class="mb-2">
            <div class="row">
                <img src="/static/images/cave.svg" class="img-fluid" alt="jaskinia" id="zdjecie3">
            </div>
            <label class="mb-5">
                <input type="radio" name="grupa7" value="chimney" checked>
                <img src="/static/images/chimney.svg" class="img-fluid" alt="komin" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa7" value="clock">
                <img src="/static/images/clock.svg" class="img-fluid" alt="clock" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa7" value="train">
                <img src="/static/images/train.svg" class="img-fluid" alt="pociąg" id="zdjecie2">
            </label>
        </fieldset>
    </div>
    
    <div class="row justify-content-center">
        <fieldset id="grupa8" class="mb-2">
            <div class="row">
                <img src="/static/images/radio.svg" class="img-fluid" alt="radio" id="zdjecie3">
            </div>
            <label class="mb-5">
                <input type="radio" name="grupa8" value="kiosk" checked>
                <img src="/static/images/kiosk.svg" class="img-fluid" alt="kiosk" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa8" value="book">
                <img src="/static/images/book.svg" class="img-fluid" alt="książka" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa8" value="microphone">
                <img src="/static/images/microphone.svg" class="img-fluid" alt="mikrofon" id="zdjecie2">
            </label>
        </fieldset>
    </div>
    
    <div class="row justify-content-center">
        <fieldset id="grupa9" class="mb-2">
            <div class="row">
                <img src="/static/images/violin.svg" class="img-fluid" alt="skrzypce" id="zdjecie3">
            </div>
            <label class="mb-5">
                <input type="radio" name="grupa9" value="baby" checked>
                <img src="/static/images/baby.svg" class="img-fluid" alt="dziecko" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa9" value="ladder">
                <img src="/static/images/ladder.svg" class="img-fluid" alt="drabina" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa9" value="donut">
                <img src="/static/images/donut.svg" class="img-fluid" alt="donut" id="zdjecie2">
            </label>
        </fieldset>
    </div>
    
    <div class="row justify-content-center">
        <fieldset id="grupa10" class="mb-2">
            <div class="row">
                <img src="/static/images/book.svg" class="img-fluid" alt="książka" id="zdjecie3">
            </div>
            <label class="mb-5">
                <input type="radio" name="grupa10" value="microphone" checked>
                <img src="/static/images/microphone.svg" class="img-fluid" alt="mikrofon" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa10" value="kiosk">
                <img src="/static/images/kiosk.svg" class="img-fluid" alt="kiosk" id="zdjecie2">
            </label>

            <label>
                <input type="radio" name="grupa10" value="armchair">
                <img src="/static/images/armchair.svg" class="img-fluid" alt="fotel" id="zdjecie2">
            </label>
        </fieldset>
    </div>

    <div class="row justify-content-center">
        <button type="submit" class="btn btn-danger btn-lg btn-block">Zakończ</button>
    </div>

</form>


{% endblock %}
