{% extends 'basem.html' %}
{% set active_menu = "mnemotechniki" %}
{% set active_page = "cwiczenie1" %}
{% block content %}

<h3>Ćwiczenie 1</h3>

<div class="mb-4">
    <h5>Ćwiczenie wprowadzające do mnemotechnik</h5>
</div>

<p>Za chwilę rozpoczniesz ćwiczenie, które jest wstępem do nauki mnemotechnik. Dzięki niemu sam przekonasz się jak dobra jest Twoja pamięć i czy masz nad czym pracować.</p>
<p>Po przyciśnięciu przycisku Start wyświetli Ci się lista dziesięciu wyrazów, każdy ze swoim numerkiem. Twoim zadaniem jest przeczytać tą listę. Każdą parę &bdquo;liczba-wyraz&rdquo; czytasz tylko raz! Gdy to zrobisz wyświetli Ci się formularz, w którym masz wpisać zapamiętane wyrazy zgodnie z kolejnością przydzielonych im numerów.</p>

<div class="mt-5">

    <a href="{{ url_for('cwiczenie1start') }}" class="btn btn-danger btn-lg btn-block" role="button">Rozpocznij</a>
</div>

{% endblock %}
