{% extends 'basem.html' %}
{% set active_menu = "mnemotechniki" %}
{% set active_page = "liczby" %}
{% block content %}

<h3>Metoda liczbowo-kształtowa</h3>

<h5>Wstęp</h5>
<p>Technika liczbowo-kształtowa najczęściej jest wykorzystywana do zapamiętywania kolejności informacji. Można ją również wykorzystać do krótkich liczb wielocyfrowych (np. numeru telefonu). Również i ta metoda opiera się na wytworzeniu silnych skojarzeń.</p>
<h5>Wariant I - podobieństwo fonetyczne</h5>
<ul>
    <li>Raz - głaz</li>
    <li>Dwa - drwa</li>
    <li>Trzy - bzy</li>
    <li>Cztery - sery</li>
    <li>Pięć - rtęć</li>
    <li>Sześć - jeść</li>
    <li>Siedem - krem</li>
    <li>Osiem - prosię</li>
    <li>Dziewięć - skręć</li>
    <li>Dziesięć - pieczęć</li>
</ul>
<h5>Wariant II - podobieństwo obrazowe inaczej nazywana Metodą Haków Pamięciowych</h5>
<ul>
    <li>0 - jajko</li>
    <li>1 - świeca</li>
    <li>2 - łabędź</li>
    <li>3 - mewa/serce</li>
    <li>4 - krzesło</li>
    <li>5 - hak</li>
    <li>6 - gwizdek/wiśnia</li>
    <li>7 - dziób statku/kosa</li>
    <li>8 - bałwan</li>
    <li>9 - rozwijający się dywan/balon</li>
    <li>10 - bicykl/rycerz z mieczem i tarczą</li>
</ul>

<p>Listy zarówno z wariantu pierwszego, jak i drugiego to propozycje skojarzeń. Zachęcam Cię byś wykonał własną listę ze swoimi wyobrażeniami, które to właśnie Tobie się będą najsilniej kojarzyły. Własne skojarzenia czy to fonetyczne, czy też obrazowe zawsze będą działały silniej niż te narzucone z góry.</p>

<h5>Zastosowanie</h5>
<p>Teraz możesz wybrać jeden z wariantów i zapamiętać go na zawsze. Później dzięki tworzeniu skojarzeń możesz odtworzyć krótki ciąg liczbowy lub kolejność informacji.</p>

<h5>Przykład</h5>

<p>Chcesz zapamiętać pewne informacje na konkretnej pozycji.</p>
<ul>
    <li>Na pozycji czwartej masz zapamiętać <b>kąpiel w basenie</b>.</li>
    <li>Na pozycji siódmej masz zapamiętać <b>biurko</b>.</li>
    <li>Na pozycji drugiej masz zapamiętać <b>wizytę u lekarza</b>.</li>
</ul>
<p>Wybierając wariant drugi musisz stworzyć skojarzenia pomiędzy informacjami, a podobieństwem obrazowym ich pozycji. Możesz to zrobić w postaci krótkiej historyjki.</p>
<ul>
    <li>Stwórz skojarzenie pomiędzy <b>krzesłem</b> symbolizującym liczbę 4, a <b>kąpielą w basenie</b>.
        <ul>
            <li>Wyobraź sobie sytuację, gdy ktoś podczas imprezy wrzuca krzesło do basenu.</li>
        </ul>
    </li>
    <li>Stwórz skojarzenie pomiędzy <b>dziobem statku</b> symbolizującym liczbę 7, a <b>biurkiem</b>.
        <ul>
            <li>Wyobraź sobie sytuację, gdy wielki transportowiec przybija do brzegu, ale rolę portu pełni gigantyczne biurko, przy którym cumują statki</li>
        </ul>
    </li>
    <li>Stwórz silne skojarzenie pomiędzy <b>łabędziem</b> symbolizującym liczbę 2, a <b>wizytą u lekarza</b>.
        <ul>
            <li>Wyobraź sobie sytuację, gdy siedzisz w poczekalni oczekując na wizytę do lekarza. Po kilkunastu minutach oczekiwania z gabinetu zamiast lekarza wychodzi łabędź i zaprasza Cię do gabinetu i w efekcie końcowym to on Cię bada zamiast lekarza.</li>
        </ul>
    </li>
</ul>

{% endblock %}
