{% extends 'basem.html' %}
{% set active_menu = "mnemotechniki" %}
{% set active_page = "loci" %}
{% block content %}

<h3>System loci - rzymski pokój</h3>

<h5>Starożytność</h5>
<p>System loci będzie stanowił podstawę pozostałych mnemotechnik. Technika ta swoje początki miała w starożytnej Grecji, rozwinęła się jednak na dobre w starożytnym Rzymie. Posługiwali się nią sławni politycy, filozofie czy poeci. </p>
<p>Ludziom z czasów starożytnych system loci służył do zapamiętywania poematów, wierszy i skomplikowanych zasad prawa rzymskiego. Byli oni w stanie zapamiętywać całe książki! Można się pokusić o stwierdzenie, że ich pamięć działała lepiej niż nasza. W czym jednak krył się sekret?</p>

<h5>Znaczenie</h5>
<p>System loci w polskim tłumaczeniu nazywany jest systemem miejsc, możesz się również spotkać z nazwą rzymski pokój lub pałac myśli. Słowo &bdquo;loci&rdquo; jest formą mnogą wyrazu &bdquo;locus&rdquo;, co oznacza miejsce lub lokalizacja. </p>

<h5>Działanie</h5>
<p>Technika ta opiera się ona na umieszczeniu poszczególnych informacji w wybranych przez nas punktach lub miejscach. Im lepiej znane nam miejsce wybierzemy tym skuteczniejsza okaże się ta technika.</p>

<h5> Zasady stosowania rzymskiego pokoju</h5>
<ol>
    <li>Wybierasz przestrzeń, w której będziesz umieszczał informacje.</li>
    <li>Dzielisz daną przestrzeń na poszczególne punkty. Jeden punkt to jedna informacja.</li>
    <li>Umieszczasz poszczególne informacje w danych punktach.</li>
</ol>

<h5>Przykład</h5>
<p>Przykładowy układ pokoju:</p>
<ul>
    <li>lustro</li>
    <li>okno</li>
    <li>biurko</li>
    <li>wieszak</li>
    <li>szafa</li>
</ul>
<p>Twoim zadaniem jest zapamiętanie słów: stokrotka, pies, cytryna, pietruszka oraz deskorolka.</p>
<p>Wyobraź sobie bliski Ci pokój. Spójrz na okno, do którego są przyczepione witraże ze <b>stokrotkami</b>. Później przejdź do biurka na którym leży <b>deskorolka</b>. Przed chwilą skończyłeś od niej przykręcać kółka i leży jeszcze do góry nogami. Naprzeciwko biurka stoi szafa, którą drapie Twój <b>pies</b>. Dźwięk drapiących pazurów jest wręcz nie do zniesienia! Przeganiasz go stamtąd. A po otwarciu drzwi do niej widzisz wiszący wieszak, a na nim natkę <b>pietruszki</b>. Ciekawe kiedy ją tam powiesiłeś? Teraz wyobraź lustro ze swojego pokoju, a na nim naklejki z małymi <b>cytrynami</b>.</p>

<h5>Zasady</h5>
<p>Zasady według, których powinno się tworzyć zapamiętywane obrazy:</p>
<ul>
    <li><b>Zobaczyć</b> - lepiej zapamiętujemy obrazy niż słowa.</li>
    <li><b>Powiększyć</b> - im większy przedmiot w naszej wyobraźni tym łatwiej będzie nam go odtworzyć.</li>
    <li><b>Uruchomić</b> - obraz dynamiczny lepiej zapamiętamy.</li>
    <li><b>Pozostałe zmysły</b> - im więcej zmysłów wykorzystamy w procesie zapamiętywania, tym lepiej.</li>
    <li><b>Pierwsze skojarzenie</b> - pierwsze skojarzenie zawsze jest najmocniejsze.</li>
    <li><b>Czynnik emocjonalny</b> - rzeczy, do których podchodzimy emocjonalnie są nam zdecydowanie bliższe, przez to też lepiej zapamiętane.</li>
</ul>

<h5>Warunki</h5>
<p>By technika systemu miejsc zadziała dane miejsce musi być:</p>
<ul>
    <li><b>dobrze znane</b> - jeśli nie uda Ci się zapamiętać wyznaczonych punktów, to tym bardziej nie przypomnisz sobie zapisanych w nich informacji.</li>
    <li><b>stałe</b> - dany punkt musi pozostać nienaruszony w danej przestrzeni. Dlatego unikaj przypisywania informacji do ptaszka za oknem, który za chwilę odleci.</li>
    <li><b>zróżnicowane</b> - punkty nie mogą być identycznymi składnikami większej całości. Dlatego wyklucz pojedyncze żeberka kaloryfera czy klawisze klawiatury.</li>
</ul>
{% endblock %}
