{% extends 'basem.html' %}
{% set active_menu = "mnemotechniki" %}
{% set active_page = "mnemotechniki" %}
{% block content %}
<h3>Mnemotechniki - wiadomości ogólne</h3>


<p>Mnemotechniki to sposoby ułatwiające zapamiętywanie, przechowywanie i przypominanie sobie informacji. Wykorzystują one naturalne możliwości umysłu człowieka.</p>

<h5>Etymologia</h5>
<p>Mnemotechnika pochodzi od greckiego <i>mneme</i>, czyli pamięć. Pochodzenie tej nazwy przypisuje się również Mnemosynie, matki muz uosabiającej pamięć.</p>

<h5>Działanie</h5>
<p>Mnemotechniki opierają się na kojarzeniu obrazów i wyobrazeń z wiedzą, którą chcemy zachować. Istotną rolę odgrywają w nich wrażenia wzrokowe. A to wszystko dlatego, że obraz zapmiętujemy 60 tysięcy razy szybciej niż słowo!</p>

<h5>Tragiczna biesiada</h5>
<p>Podania ludowe głoszą, że mnemotechniki swym poczatkiem sięgają starożytnej Grecji. Za pomysłodawcę uważany jest Simonides. Według legendy był on na przyjęciu wraz ze swoimi przyjaciółmi. Opuścił on na chwilę budynek, w którym odbywało się przyjęcie. Wówczas nastąpiła tragedia - budynek się zawalił, a nasz bohater został jedynym ocalałym. </p>
<p>Kiedy przybyły rodziny zmarłych biesiadników okazało się, że ciał nie da się zidentyfikować. Z pomocą przyszedł Simonides, który na podstawie zapamiętanego układu siedzeń był w stanie stwierdzić czyje zwłoki do kogo należą. Zauważył wtedy jak ważne są wyobrażenia wzrokowe w odtwarzaniu informacji. </p>


{% endblock %}
