{% extends 'basep.html' %}
{% set active_menu = "pamiec" %}
{% set active_page = "pamiec_przemijajaca" %}
{% block content %}

<h3>Pamięć przemijająca</h3>
<p><em>Pamięć przemijająca przechowuje informacje w sposób nietrwały, czyli w stosunkowo krótkim czasie, co nie jest jej wadą, lecz wynika z pełnionych przez nią funkcji.</em></p>

<blockquote class="blockquote text-right">
    <footer class="blockquote-footer">Edward Nęcka, Jarosław Orzechowski, Błażej Szymura <cite title="Source Title">Psychologia Poznawcza</cite></footer>
</blockquote>

<p>Informacje przechowywane w systemie pamięci przemijającej są nietrwałe. Ich przemijający charakter ułatwia ich usunięcie i przyswojenie nowych informacji na ich miejsce.</p>

<h5>Pamięć sensoryczna</h5>
<p>Przyjmuje się, że każdy zmysł został wyposażony w odpowiedni rejestr sensoryczny. Badaniom empirycznym poddaje się jednak pamięć ikoniczną związaną ze wzrokiem i pamięć echoiczną związaną ze słuchem. Pamięć naszych zmysłów może swoją pojemnością przekraczać pojemność pamięci krótkotrwałej. Jednakże elementy są w niej przechowywane przez znacznie krótszy czas.</p>

<h5>Eksperyment Sperlinga (1960)</h5>
<p>Sperling prezentował badanym tablicę z rzędami liter, podobną do takiej, którą widzimy w gabinecie okulisty. Po krótkiej chwili gasił obraz, a po następnych paru sekundach prosił badanych o odtworzenie liter. Większość badanych była w stanie odtworzyć 4-5 liter, czyli tyle ile jest w stanie pomieścić pamięć krótkotrwała.</p>

<p>Sperling zaproponował modyfikację zadania, tak by mógł zbadać pamięć ikoniczną. W zmodyfikowanej wersji prezentacja tablicy trwała 50 milisekund. Po tym czasie prezentowano białą lub czarną planszę. Po następnej chwili liczącej od 100 do 500 milisekund proszono badanego o odtworzenie losowo wybranego rzędu liter. </p>

<p>Badani odtwarzali wybrane rzędy z niemal stuprocentową skutecznością. Jeżeli czas przerwy trwał więcej niż pół sekundy skuteczność wysoce malała. Dowiodło to, że jeszcze kilkanaście milisekund po zgaszeniu tablicy badani byli w stanie odtworzyć jej wygląd. W ten sposób działa pamięć ikoniczna.</p>

<h5>Pamięć krótkotrwała</h5>
<p>Czas przechowywania informacji w pamięci krótkotrwałej to kilkanaście sekund. O maksymalnej ilości przechowywanych w niej jednostek informacji mówi liczba Millera, czyli 7 &plusmn 2.</p>
<p>Zapominanie w pamięci krótkotrwałej wiąże się z:</p>
<ul>
    <li>faktem, że informacje zanikają z upływem czasu,</li>
    <li>łatwo może dojść do interferencji pomiędzy zapamiętywanymi informacjami, szczególnie jeśli są podobne do siebie,</li>
    <li>przekierowaniem uwagi na inne zadanie.</li>
</ul>


<h5>Pamięć robocza</h5>
<p>To pamięć robocza jest odpowiedzialna za wszelkie kontrolowane bieżące przetwarzanie napływających informacji. Kierujemy nią przez uwagowy mechanizm planowania i nadzoru. </p>
<p>Główne funkcje pamięci roboczej, to:</p>

<ol>
    <li>przechowywanie,</li>
    <li>przetwarzanie,</li>
    <li>nadzorowanie,</li>
    <li>koordynacja.</li>
</ol>

<p>Składa się z:</p>
<ul>
    <li>centralnego systemu wykonawczego, którego głównymi zadaniami są:</li>
    <ul>
        <li>bieżące przetwarzanie informacji,</li>
        <li>koordynacja buforów pamięci roboczej,</li>
        <li>nadzór nad bieżącym przetwarzaniem informacji.</li>
    </ul>
    <li>pętli fonologicznej, która przechowuje informacje fonologiczne,</li>
    <li>szkicownika wzrokowo-przestrzennego, który przechowuje materiał wzrokowy i przestrzenny,</li>
    <li>bufora epizodycznego odpowiedzialnego za czasowe przechowywanie informacji dostarczanych za pomocą różnych kodów np. werbalnego i wizualnego.</li>
</ul>

<h5>Pamięć prospektywna</h5>
<p>Pamięć prospektywna dotyczy działań, które mają dopiero zostać podjęte. Dotyczy przyszłości. Kieruje ona intencjonalnym planowaniem przyszłych działań. Przeciwieństwem działań intencjonalnych są działania rutynowe, które nie podlegają planowaniu np. mycie zębów rano. </p>

<p>Pamięć prospektywna stoi na granicy pomiędzy magazynami pamięci krótkotrwałej i długotrwałej. Zależnie od perspektywy czasowej bliskiej lub dalekiej przypisujemy informacje do odpowiedniego magazynu. Z badań Marsha, Hicksa i Landau z 1998 roku wyniknęło, że około 25% naszych planów nie zostało zrealizowanych z powodu ich późniejszej korekty. Natomiast około 3% planów nie zostały zrealizowane, ponieważ o nich zapomniano.</p>
{% endblock %}
