{% extends 'basep.html' %}
{% set active_menu = "pamiec" %}
{% set active_page = "polepszenie_pamieci" %}
{% block content %}

<h3>Jak można polepszyć pamięć?</h3>

<h5>Na zapamiętywanie pozytywny efekt mają:</h5>
<ul>
    <li>ilość powtórzeń,</li>
    <li>organizacja powtórzeń - im częściej, tym lepsze zapamiętanie,</li>
    <li>wolne tempo ekspozycji materiału,</li>
    <li>podwójne (werbalne i obrazowe) kodowanie materiału,</li>
    <li>organizacja materiału,</li>
    <li>elaboracja - powiązanie z posiadaną wiedzą: poszukiwanie informacji uzupełniających lub wyjaśniających,</li>
    <li>zgodność kontekstu zapamiętywania i odpamiętywania,</li>
    <li>stosowanie mnemotechnik.</li>
</ul>

<h5>Na zapamiętywanie negatywny efekt mają:</h5>
<ul>
    <li>zaburzenia konsolidacji - czynniki farmakologiczne, uszkodzenie mózgu,</li>
    <li>niska motywacja,</li>
    <li>interferencja proaktywna - materiał zapamiętywany wcześniej pogarsza zapamiętanie materiału zapamiętywanego później, istotne są interwały czasowe między materiałami i ich podobieństwo.</li>
</ul>

<h5>Warunki skutecznej nauki:</h5>
<ul>
    <li>Wysokie poczucie własnej wartości - musisz czuć, że stać Cię na to.</li>
    <li>Pozytywne nastawienie - musisz czuć, że dasz sobie radę.</li>
    <li>Silna motywacja - musisz tego chcieć.</li>
</ul>

<h5>Umiejętności wspomagające proces zapamiętywania:</h5>
<ul>
    <li>Koncentracja uwagi,</li>
    <li>Kojarzenie - budowa skojarzeń jest umiejętnością kluczową przy wielu mnemotechnikach,</li>
    <li>Wyobraźnia.</li>
</ul>
<p>Jest to niezwykle ważne byś trenował te trzy umiejętności. Ich umiejętne wykorzystanie zdecydowanie ułatwi Ci pełne wykorzystanie własnego potencjału.</p>

<h5>Przeuczenie oraz przeglądanie</h5>
<p>Podstawowym błędem podczas nauki i zapamiętywania jest fałszywa wiara w opanowanie materiału. Proces uczenia się nigdy się nie kończy. Do danego materiału należy i trzeba wracać! Na skuteczne zapamiętywanie zbawienny efekt ma ponowne przeglądanie materiału. Dzięki temu dowiesz się co w międzyczasie uleciało z Twojej pamięci.</p>

<h5>Powtarzanie z pamięci</h5>
<p>Metoda powtarzania na głos zapamiętywanego materiału jest naszym intuicyjnym nawykiem i dzięki temu jest bardzo skuteczna! Warto powtarzać materiał nie zaglądając do tekstu, zwiększy to naszą skuteczność. Efektywną metodą jest również opowiadanie z pamięci komuś innemu o tym czego się nauczyliśmy. Werbalizacja materiału pomaga nam utrwalić nasze ślady pamięciowe.</p>

<h5>Własna wartość i pozytywne myślenie</h5>
<p>Pamiętaj by zawsze wierzyć we własne umiejętności i możliwości. Zadbaj by wynagradzać siebie za osiągnięte cele. A do nauki i zapamiętywania podchodź z entuzjazmem. Każda zdobyta informacja, to Twoja inwestycja w samego siebie!</p>

<h5>Motywacja</h5>
<p>Precyzyjnie określony cel najsilniej wzbudza w nas motywację! Pamiętaj by każdy ze swoich celów zapisywać. Nie wystarczy, że o nim pomyślisz. Musi on się dla Ciebie stać realnym. Może w tym również pomóc wizualizacja celów. Będąc tak zmotywowanym Twoja pamięć od razu będzie działała sprawniej.</p>

<h5>Sport</h5>
<p>O zbawiennym wpływie ćwiczeń fizycznych na działanie naszego umysłu nie trzeba nikogo przekonywać. Jednak uprawianie, których sportów najlepiej wpływa na przetwarzanie informacji w naszym mózgu?</p>
<p>Polecane aktywności fizyczne do poprawy kondycji umysłu:</p>
<ul>
    <li>ćwiczenia aerobowe - takie, które angażują dużą grupę mięśni całego ciała - np. bieganie, pływanie czy jazda na rowerze,</li>
    <li>joga - to ona najlepiej usprawnia procesy myślowe i pamięć,</li>
    <li>zwykły spacer - zarówno dotleni mózg jak i odpręży Twoje ciało.</li>
</ul>

<h5>Sen</h5>
<p>Efektywny sen wspiera proces konsolidacji - utrwalania nabytych informacji. Najlepiej zapamiętujemy rzeczy uczone rano, po przespaniu się. Nie warto uczyć się bedąc sennym lub ociężałym. Taka nauka nie przyniesie nam oczekiwanych, pozytywnych efektów. Zdecydowanie lepszą receptą będzie krótka drzemka.</p>

{% endblock %}
