{% extends 'basep.html' %}
{% set active_menu = "pamiec" %}
{% set active_page = "polkule" %}
{% block content %}

<h3>Półkule mózgu</h3>
<p>Ważne jest by w procesie nauki przy wykorzystaniu <a href="{{url_for('mnemotechniki')}}">mnemotechnik</a> wybierać takie techniki, które najlepiej odpowiadają naszym naturalnym talentom. Nasz mózg dzieli się na dwie półkule, odpowiedzialne za całkiem różne zadania. Często może się zdarzyć, że jedna z półkul jest dominująca w procesach przetwarzania informacji. Koniecznie weź to pod uwagę przy wyborze skutecznych technik zapamiętywania.</p>

<h5>Lewa półkula</h5>
<p>Lewa półkula inaczej nazywana jest profesorską. Odpowiedzialna za werbalizm, logiczne myślenie oraz analizę. Przetwarza ona dane w sposób symboliczny w formie liter, cyfr i słów. Pomaga nam analizować i organizować doświadczenia, podporządkowywać je poszczególnym kategoriom. Bez niej nie moglibyśmy mówić. </p>

<p>Za pomocą lewej półkuli możesz:</p>
<ul>
    <li>mówić i rozumieć, to, co inni do ciebie mówią,</li>
    <li>myśleć logicznie,</li>
    <li>analizować, </li>
    <li>wykonywać obliczenia matematyczne,</li>
    <li>rozpoznawać przedmioty za pomocą dotyku,</li>
    <li>pisać.</li>
</ul>

<h5>Prawa półkula</h5>
<p>Prawa półkula inaczej nazywana jest artystyczną. Odpowiedzialna za wyobraźnię, intuicję i emocje. Ułatwia nam zrozumieć świat poprzez obrazy, fantazję, wyobraźnię, intuicję. Przetwarza ona informacje w sposób sensoryczny, za pośrednictwem zmysłów, bez udziału słów. </p>
<p>To dzięki prawej półkuli mamy świadomość przestrzeni, możemy dokonywać syntezy wrażeń, rozpoznawać twarze, wzory, oceniać rozmiary, trafiać do domu. </p>
<p>Za pomocą prawej półkuli możesz:</p>
<ul>
    <li>myśleć abstrakcyjnie,</li>
    <li>tworzyć dzieła muzyczne,</li>
    <li>kierować się swoją intuicją, </li>
    <li>być kreatywnym, </li>
    <li>wyobrażać przedmioty w przestrzeni.</li>
</ul>


{% endblock %}
