{% extends 'baseg.html' %}
{% set active_menu = "konto" %}
{% set active_page = None %}

{% block content %}


<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10 col-xs-10">
        <h3>O serwisie</h3>
    <p>Autorem niniejszego serwisu jest Antoni Buczek.
        Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji), przygotowanej pod kierunkiem dr. hab. Grzegorza Bilińskiego, prof. ASP na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
    </p>
</div>
</div>
{% endblock %}
