{% extends 'basem.html' %}
{% set active_menu = "mnemotechniki" %}
{% set active_page = "skojarzenia" %}
{% block content %}

<h3>Łańcuchowa metoda skojarzeń</h3>

<h5>Działanie</h5>

<p>Inaczej nazywana <b>metodą obrazów interaktywnych</b>. Technika ta opiera się na budowaniu kolejnych skojarzeń. Jedno skojarzenie ma przywołać w pamięci kolejne. Skojarzenie poprzedzające jest ścieżką dostępu do kolejnego. Łańcuchowa metoda skojarzeń opiera się na zapamiętywaniu za pomocą wyobraźni, skojarzeń i emocji. Świetnie się nadaje do zapamiętania listy luźnych słów.</p>

<h5>Przykład</h5>
<p>Lista słów i zwrotów, które chcemy zapamiętać: żarówka, dom, basen, książka, pies, smażony kurczak, kurier.</p>
<p>Wczoraj rano spaliła się w salonie <b>żarówka</b>. Poszedłem więc do sklepu by kupić jedną. Po powrocie do <b>domu</b> poszedłem się kąpać w basenie. Pluskałem się w wodzie oraz nurkowałem. Później wyszedłem na brzeg, by poczytać pasjonującą <b>książkę</b>. Pamiętam, że historia naprawdę mnie wciągnęła. Niestety jej lekturę przerwał mój <b>pies</b>, który koniecznie chciał się ze mną bawić. Odłożyłem, więc książkę i poszedłem z nim pobiegać. W pewnym momencie zdałem sobie sprawę, że nic nie jadłem cały dzień. Zaczęło mi niesamowicie burczeć w brzuchu, więc poszedłem do domu zrobić sobie kolację. Przygotowałem niezwykle apetycznego <b>smażonego kurczaka</b>. Zapach roznosił się po całym domu. Niestety wówczas zadzwonił do moich drzwi <b>kurier</b>. Zostałem zmuszony odejść od stołu i odebrać paczkę. Niestety po powrocie okazało się, że mój pies również był głodny. Cały mój kurczak został zjedzony!</p>

<h5>Zasady</h5>

<ul>
    <li>Im bardziej abstrakcyjne i przejaskrawione skojarzenie, tym lepiej. </li>
    <li>Dynamiczne obrazy zapamiętasz lepiej.</li>
    <li>Im więcej przedmiotów, tym lepiej.</li>
</ul>

<h5>Lista treningowa</h5>
<p>Poniżej zamieszczam dla Ciebie przykładowe listy zakupów. Jedna lista na każdy dzień. Spróbuj przez tydzień trenować łańcuchową metodą skojarzeń. Po każdym dniu treningowym sprawdź na następny dzień ile produktów zapamiętałeś.</p>
<p><b>Dzień 1.</b> - lizak, ser, mleko, kawa, guma do żucia.</p>
<p><b>Dzień 2.</b> - masło, ser biały, chleb, ptasie mleczko, wata, sznurowadła.</p>
<p><b>Dzień 3.</b> - czekolada, banany, chleb razowy, sok pomarańczowy, śmietana, papier toaletowy, parówki, woda.</p>
<p><b>Dzień 4.</b> - jogurt, sałata, pomidory, musztarda, zupka chińska, herbata, cukier, ryż, mąka, jajka.</p>
<p><b>Dzień 5.</b> - jabłka, sól, oliwa z oliwek, salami, oliwki, mydło, kawa rozpuszczalna, majonez, cebula, miód.</p>
<p><b>Dzień 6.</b> - sok pomarańczowy, woda, otręby, dżem, dezodorant, czosnek, keczup, szczypiorek, chałka, lody.</p>
<p><b>Dzień 7.</b> - ser feta, proszek do prania, chusteczki higieniczne, ręcznik kuchennym płyn do mycia szyb, kasza, makaron spaghetti, makrela wędzona, chałwa, ogórki kiszone.</p>


{% endblock %}
