{% extends 'basem.html' %}
{% set active_menu = "mnemotechniki" %}
{% set active_page = "slowka" %}
{% block content %}

<h3>Słówka obcojęzyczne</h3>

<h5>Działanie</h5>
<p>
    Tak jak we wszystkich poprzednich technikach tak i w nauce słówek obcojęzycznych musisz powiązać nową wiedzę z tą już posiadaną. Podczas używania tej metody ważny jest zapis fonetyczny słowa, to właśnie jego będziesz kojarzył z obcojęzycznym słowem. Cały trik polega na tym by brzmienie danego słowa powiązać z <b>wyrazem pośrednim</b>, który jest pośrednikiem pomiędzy znaczeniem, a obcojęzycznym słówkiem. </p>
<p>Poniższe przykłady będą odnosić się języka angielskiego, ale zasada jest dokładnie taka sama w przypadku innych języków.
</p>



<h5>Przykład I</h5>
<p>Spróbuj zapamiętać wyraz <b>peat</b> [pit], czyli torf.</p>

<p>Brzmienie tego wyrazu przypomina polski wyraz <i>pit</i>. Twoim zadaniem jest wytworzenie silnego skojarzenia pomiędzy torfem, a pitem. Może to być smutna historyjka jak bardzo ważny pit wpadł Ci do torfu, cały papier rozmiękł, a Ty straciłeś ważne dane. Pamiętaj by wytworzone skojarzenia angażowało jak najwięcej emocji oraz zmysłów. Możesz poczuć zapach torfu czy wyobrazić sobie jakby by było Ci smutno tracąc te wszystkie dane.</p>

<h5>Trudniejsze wyrazy</h5>
<p>Niestety nie wszystkie słówka mają łatwe i bezpośrednie odpowiedniki fonetyczne w naszym rodzimym języku. W takich przypadkach musisz dane słowo rozbić na mniejsze części i wytworzyć dłuższe skojarzenie.</p>

<h5>Przykład II</h5>
<p>Spróbuj zapamiętać wyraz <b>obituary</b> [obytjuari], czyli nekrolog.</p>

<p>Pamiętaj, że zawsze najlepsze są pierwsze skojarzenia! Jeśli słysząc ten wyraz tak naprawdę usłyszałeś <i>obite ary</i>, <i>obite gary</i> czy <i>obite bary</i> masz już gotową receptę na mnemotechnikę. Musisz jedynie skojarzyć usłyszane słowo z nekrologiem. Nie będzie ciężko skojarzyć biednych, obitych papug ar z nekrologiem.</p>


<h5>Lista słówek do ćwiczeń</h5>
<div class="row justify-content-center">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Słówko</th>
                <th scope="col">Wymowa</th>
                <th scope="col">Znaczenie</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i>lank</i></td>
                <td>[lenk]</td>
                <td>chudy, mizerny</td>
            </tr>
            <tr>
                <td><i>frankness</i></td>
                <td>[frenknys]</td>
                <td>szczerość</td>
            </tr>
            <tr>
                <td><i>fount</i></td>
                <td>[faunt]</td>
                <td>źródło</td>
            </tr>
            <tr>
                <td><i>rope</i></td>
                <td>[roup]</td>
                <td>lina</td>
            </tr>
            <tr>
                <td><i>rubber</i></td>
                <td>[raber]</td>
                <td>ścierka</td>
            </tr>
            <tr>
                <td><i>rite</i></td>
                <td>[rait]</td>
                <td>obserwować</td>
            </tr>
            <tr>
                <td><i>stormbound</i></td>
                <td>[stormbaund]</td>
                <td>uwięziony przez burzę</td>
            </tr>
            <tr>
                <td><i>promenade</i></td>
                <td>[pramenad]</td>
                <td>przechadzka</td>
            </tr>
            <tr>
                <td><i>tombstone</i></td>
                <td>[tumstoun]</td>
                <td>nagrobek</td>
            </tr>
            <tr>
                <td><i>yap</i></td>
                <td>[jep]</td>
                <td>zaszczekać</td>
            </tr>
            <tr>
                <td><i>bash</i></td>
                <td>[basz]</td>
                <td>uderzyć</td>
            </tr>
            <tr>
                <td><i>dilapidation</i></td>
                <td>[dilepydejszyn]</td>
                <td>zniszczenie</td>
            </tr>
            <tr>
                <td><i>ruck</i></td>
                <td>[rak]</td>
                <td>fałda, zmarszczka</td>
            </tr>
            <tr>
                <td><i>hawk</i></td>
                <td>[hok]</td>
                <td>jastrząb</td>
            </tr>
            <tr>
                <td><i>heady</i></td>
                <td>[hedi]</td>
                <td>gwałtowny</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
